asgiref==3.8.1
Django==4.2.18
networkx==3.2.1
numpy==2.0.2
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.2
gunicorn==22.0.0
whitenoise==6.11.0